html {
    margin: 0;
    min-height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}


.header {

    background-color: #1F2937;
    display: flex;
    gap: 800px;
    justify-content: space-around;
    padding: 16px;
    margin-bottom: 0;
}

.logo {
    color : #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    margin-bottom: 16px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.left h1,
.left p,
.sign-up {
    color: #F9FAF8;
}

.left h1 {
    font-size: 48px;
    font-weight: bolder;    
}
.left {
    flex-shrink: 0;
}
.top {
    margin-top: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 7px;
    border: 1px solid white;
    padding: 5px 25px;
    border: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.right img {
    width: 300px;
    margin: 100px;
}

.bot-selection {
    text-align: center;
    
    padding: 24px;
    padding-bottom: 96px;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 52px;
}

.bot-info {
    max-width: 200px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 36px;
  }

.bot-info img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    
}

.bot-info text {
    color: #1F2937;
}

.quote-section {
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 50%;
    text-align: center;
}

.quote span {
    float: right;
    font-size: 32px;
    font-weight: bolder;
}